@import "../public/css/bootstrap.min.css";
@import "../public/css/owl.carousel.min.css";
@import "../public/css/animate.min.css";
@import "../public/css/magnific-popup.css";
@import "../public/css/fontawesome-all.min.css";
@import "../public/css/themify-icons.css";
@import "../public/css/slick.css";
@import "../public/css/meanmenu.css";
@import "../public/css/default.css";
@import "../public/css/style.css";
@import "../public/css/responsive.css";
/* @import '../public/img/courses/courses_bg.png'; */

.header-sticky{
  transition: .6s;
}
.mobile-menu{
  display: block;
}

#courses{
  background-image: url('../public/img/courses/courses_bg.png');
}

.notice-title-section{
  text-align: right;
}

.principle_photo{
  width: 300px;
}
